fastapi 
uvicorn[standard] 
jinja2 
pydantic 
python-dotenv 
httpx 
scikit-learn 
joblib 
torch 
langid 
lime 
stopwords 
tensorflow 
opencv-python 
ultralytics 
numpy 
yt-dlp 
itsdangerous 
transformers
nltk
re
scipy
requests
starlette
python-multipart


